mixin messages
  if notices
    each notice in notices
      .alert.alert-success #{notice}
  if warnings
    each warning in warnings
      .alert.alert-warning #{warning}
  if errors
    each error in errors
      .alert.alert-danger #{error}
