extends ../../layouts/email

block content
  p Thank you for creating an account with Education Superhighway. Please click the following link to verify your account.
  a(href="#{config.app.baseUrl}/user/verify?email=#{user.email}&verificationCode=#{user.verificationCode}") Verify My Account
