extends ../layouts/main

block content
  .col-sm-offset-2.col-sm-8.shadow-box
    .section
      h3 You have successfully logged into your EducationSuperhighway account.
    .section
      p Please return to the page from which your request originated in order to log in.
