extends ../layouts/main

include ../mixins/messages

block content
  .col-sm-offset-2.col-sm-8.shadow-box
    .section
      h3 Create an Education Superhighway Account
    .section
      p.bottom-buffer An Education Superhighway account grants you access to all of Education Superhighway's great services.
    .section
      +messages
    .section
      form(role="form", action="create", method="post")
        .form-group(class=(user && user.errors && user.errors.email ? 'has-error' : ''))
          input.form-control(type="email", id="user[email]", name="user[email]", placeholder="Email Address", value=(user && user.email ? user.email : ''))
          if user && user.errors && user.errors.email
            span.text-danger #{user.errors.email}
        .form-group(class=(user && user.errors && user.errors.password ? 'has-error' : ''))
          input(type="password", class="form-control", id="user[password]", name="user[password]", placeholder="Password", value=(user && user.password ? user.password : ''))
          if user && user.errors && user.errors.password
            span.text-danger #{user.errors.password}
        .btn-toolbar
          .btn-group
            input.btn.btn-primary(type="submit", value="Create Account")
            a.btn.btn-default(href="/user/login") Have an account already? Log In
