extends ../layouts/main

block content
  .col-sm-offset-2.col-sm-8.shadow-box
    .section
      h3 Your account has been created and must be verified.
    .section
      p An email has been sent to your email with a verification link.
