extends ../layouts/main

block content
  .col-sm-offset-2.col-sm-8.shadow-box
    .section
      h3 Congratulations! Your account has been successfully verified.
    .section
      p.lead
        a(href='/user/login') Log in to your account
