extends ../layouts/main

block content
  div.section
    h3 #{client.name} would like to use your Education Superhighway account to log you in.
  div.section
    if alert
      div.alert.alert-danger #{alert}
    if notice
      div.alert.alert-success #{notice}
  div.section
    form(role="form", action="/oauth/authorized", method="post")
      div.form-group
        input.btn.btn-primary(type="submit", value="Authorize")
