
.shadow-box
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75)
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75)
  padding: 20px 40px
  .section
    margin-bottom: 20px
